@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');


*{
    font-family: "Poppins", sans-serif;
    /*padding: 2px; */
}

/*
header{
    color: #ffffff;
    padding: 15px;
}

.logo{
    max-width:200px;
    max-height:150px;
    width: 10%;
    height: 15%;
    margin: 15px;
    padding: 20px;
}

header nav ul{
    list-style: none;
    display: flex;

}

header nav ul li{
    margin-left: 20px;
}

.cabecalho{
    display: flex;
    justify-content: flex-end;
}*/ 

body{
  background-color: #ceddef;
}

.topo {
  /*background-color: #d9e6f5; /*Azul claro do Figma */
  padding: 1rem 2rem;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
}

.topo .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #000e5c;
    
}

.logo img {
  height: 48px; /* ou 28px, ou 24px */
  width: auto; /* mantém a proporção */
}

span{
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

.busca {
  flex: 1;
  display: flex;
  max-width: 600px;
}

.busca input {
  background-color: #ffffff;
  font-family: "Baskervville", serif;
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 999px 0 0 999px;
  border: none;
  outline: none;
}

.busca button {
  padding: 0.5rem 1rem;
  border-radius: 0 999px 999px 0;
  border: none;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

.menu {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* sombra leve para contraste */
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}


/* .imagem-fundo img{   
    width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    opacity: 0.9;
      width: 100%;
      height: 100%;
      display: flex;
      object-fit: cover;
      max-width: 100%;
} */

 .secao-ofertas{
  background-image: url("../img/image_fx.png");
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.frase-ofertas{
  font-family: "Poppins", sans-serif; 
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 60px;
}

.frase-ofertas h1{
  width: 50%;
}

.cards-ofertas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 250px;
  width: 100%;
  padding: 20px 60px;
  margin-top: 0; 
  flex-wrap: wrap;  
  box-sizing: border-box;
}

.primeiro-card{
  background-color: #ffffff;
  width: 300px;
  height: 370px;
  border-radius: 15px;
  padding: 50px;
}

.primeiro-card img{
  width: 75%;
  height: 55%;
  align-items: center;
}

.paragrafo-card1{
  font-size: 1.4rem;
}

.primeiro-card button{
  font-family: "Baskervville", serif;
  background-color: #F2E088;
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

footer{ 
  text-align: center;
}