@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');


*{
    font-family: "Poppins", sans-serif;
    /*padding: 2px; */
}

body{
  margin: 0px;
  margin-right: 0px;
}

html{
  display: flex;
}

/*
header{
    color: #ffffff;
    padding: 15px;
}

.logo{
    max-width:200px;
    max-height:150px;
    width: 10%;
    height: 15%;
    margin: 15px;
    padding: 20px;
}

header nav ul{
    list-style: none;
    display: flex;

}

header nav ul li{
    margin-left: 20px;
}

.cabecalho{
    display: flex;
    justify-content: flex-end;
}*/ 

body{
  background-color: #ceddef;
}

.topo {
  /*background-color: #d9e6f5; /*Azul claro do Figma */
  padding: 1rem 2rem;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
}

.topo .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #000e5c;
    
}

.logo img {
  height: 48px; /* ou 28px, ou 24px */
  width: auto; /* mantém a proporção */
}

span{
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

.busca {
  flex: 1;
  display: flex;
  max-width: 600px;
}

.busca input {
  background-color: #ffffff;
  font-family: "Baskervville", serif;
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 999px 0 0 999px;
  border: none;
  outline: none;
}

.busca button {
  padding: 0.5rem 1rem;
  border-radius: 0 999px 999px 0;
  border: none;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

.menu {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* sombra leve para contraste */
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

 .secao-ofertas{
  background-image: url("../img/image_fx.png");
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.frase-ofertas{
  font-family: "Poppins", sans-serif; 
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 60px;
}

.frase-ofertas h1{
  width: 50%;
}

/*.primeiro-card{
  background-color: #ffffff;
  width: 500px;
  height: 400px;
  border-radius: 12px;
  flex-wrap: wrap;
  gap: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.primeiro-card img{
  width: 55%;
  height: 50%;
}

.paragrafo-card1{
  font-size: 1.6rem;
}*/

.cards-ofertas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  width: 100%;
  padding: 20px 60px;
  margin-top: 0; 
  flex-wrap: wrap;  
  box-sizing: border-box;
}

.primeiro-card{
  background-color: #ffffff;
  width: 300px;
  height: 370px;
  border-radius: 15px;
  padding: 50px;
  align-items: center;
}

.primeiro-card img{
  width: 75%;
  height: 55%;
  justify-content: center;
}

.paragrafo-card1{
  font-size: 1.4rem;
  text-align: center;
}

.primeiro-card button{
  font-family: "Baskervville", serif;
  background-color: #F2E088;
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

.segundo-card{
  background-color: #ffffff;
  width: 300px;
  height: 370px;
  border-radius: 15px;
  padding: 50px;
}

.segundo-card button{
  font-family: "Baskervville", serif;
  background-color: #F2E088;
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 20px;
  text-align: center;
  margin-top: 35px;
}

.segundo-card img{
  width: 75%;
  height: 55%;
  align-items: center;
}

.secao-categorias{
  background-color: #FEF4E8;
  width: 100%;
  /* height: 750px; */
  padding: 20px;
  border: none;
  outline: none;  
}

.secao-categorias h1{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
  text-align: center;
  padding: 30px;
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 80px;
}

.secao-categorias h2{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
  font-size: 2.0rem;
  margin-top: 40px;
  font-weight: 700;
}

.ambientes{
  width: 100%;
  flex-wrap: wrap;  
  box-sizing: border-box;
  display: flex;
  gap: 100px;
  padding: 20px;
}

.cards-ambientes{
  width: 100%;
  flex-wrap: wrap;  
  box-sizing: border-box;
  display: flex;
  gap: 110px;
  justify-content: center;
}

.card-sala{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-sala.jpg");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-sala p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.card-quarto{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-quarto.jfif");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-quarto p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.card-cozinha{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-cozinha.jpg");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-cozinha p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.card-banheiro{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-banheiro.jfif");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-banheiro p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.outros-ambientes{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/outros-ambientes.jpg");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.outros-ambientes p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.cards-moveis{
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;  
  box-sizing: border-box;
  display: flex;
  gap: 110px;
  justify-content: center;
  margin-bottom: 20px;
}

.moveis h2{
  font-size: 2.0rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-weight: 700; 
}

.card-cadeira{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-cadeira.jpg");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-cadeira p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.card-sofa{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-sofa.jfif");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-sofa p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.card-mesa{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-mesa.jfif");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-mesa p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.card-armario{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/card-armario.jfif");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-armario p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.diversos{
  background-color: #ffffff;
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 17px;
  background-image: url("../img/diversos.jpg");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.diversos p{
  font-family: "Baskervville", serif;
  text-align: center;
  margin-top: 215px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.secao-produtos{
  background-color: #D9CDBF;
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;  
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.secao-produtos h1{
  font-size: 2.5rem;
  justify-content: center; 
  text-align: center; 
  display: flex;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
}

.cards-produtos{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  padding: 20px 60px;
  flex-wrap: wrap;  
  box-sizing: border-box;
  font-family: "Baskervville", serif;
  margin-bottom: 10px;
}

.card-produto1{
  background-color: #ffffff;
  width: 330px;
  height: 400px;
  border-radius: 15px;
  padding: 50px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-produto1 h1{
  font-family: "Baskervville", serif;
  font-size: 1.3rem;
  text-align: center;
  color: #000000;
  font-weight: normal;
}

.card-produto1 h2{
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: #535353;
  opacity: 0.3;
  margin: 0;
  font-weight: normal;
}

.card-produto1 p{
  margin: 0;
  font-weight: normal;
}

.card-produto1 img{
  width: 75%;
  height: 55%;
  justify-content: center;
}

.card-produto1 button{
  font-family: "Baskervville", serif;
  background-color: #3B63B8;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  color:#ffffff;
  margin-top: 15px;
  margin-bottom: 20px; 
  font-size: 1.2rem;
}

.card-produto1 i{
  margin: 2px;
}

.card-produto4 {
  background-color: #ffffff;
  width: 330px;
  height: 400px;
  border-radius: 15px;
  padding: 50px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-produto4 h1{
  font-family: "Baskervville", serif;
  font-size: 1.2rem;
  text-align: center;
  color: #000000;
  font-weight: normal;
  margin: 0px;
}

.card-produto4 h2{
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: #535353;
  opacity: 0.3;
  margin: 0;
  font-weight: normal;
}

.card-produto4 p{
  margin-top: 10px;
  font-weight: normal;
}

.card-produto4 img{
  width: 75%;
  /* height: 55%; */
  justify-content: center;
}

.card-produto4 button{
  font-family: "Baskervville", serif;
  background-color: #3B63B8;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  color:#ffffff;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.card-produto4 i{
  margin: 2px;
}

.secao-avaliacoes{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
  padding: 20px;
  font-size: 1.5rem;
  margin-top: 10px;
  width: 100%;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}


.avaliacoes {
  padding: 40px 20px;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.container-principal {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.coluna-nota {
  flex: 1;
  min-width: 300px;
}

.nota-geral {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nota-numero {
  font-size: 2rem;
  font-weight: bold;
}

.estrelas i {
  color: #facc15;
}

.subtitulo {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 5px;
}

.barras {
  margin-top: 30px;
}

.barra-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.barra-item span {
  width: 40px;
  font-size: 1.1rem;
}

.barra {
  background-color: white;
  width: 200px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.preenchida {
  background-color: black;
  height: 100%;
  width: 0%;
}

.barra-5 { width: 90%; }
.barra-4 { width: 75%; }
.barra-3 { width: 35%; }
.barra-2 { width: 20%; }
.barra-1 { width: 10%; }

.coluna-comentarios {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.comentario {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.topo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nome {
  font-weight: bold;
  font-size: 1.1rem;
}

.texto {
  font-style: italic;
  font-size: 0.95rem;
  line-height: 1.5;
}

.observacao {
  margin-top: 30px;
  font-size: 0.85rem;
  font-weight: bold;
}

footer p{ 
  text-align: center;
}